<!-- Section: Contact v.3 -->
<br>
<br>
<div class="col-12 mb-5">
<section class="contact-section my-3">
    <h2 class="h1-responsive font-weight-bold titulo text-center my-5">CONTACTA A UN ESPECIALISTA</h2>
    <!-- Form with header -->
    <div class="row">
    <div class="card col-12 col-lg-12">

      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
      <div class="col-lg-4 text-center">
            <!--Grid column-->
      <div class="col-lg-12 col-md-12 mb-lg-0 mb-4">
        <!--Card-->
        <mdb-card class="testimonial-card">
          <!--Background color-->
          <div class="card-up info-color"></div>
          <!--Avatar-->
          <div class="avatar mx-auto white">
            
            <img src="../../assets/img/imgContacto/con1.jpg" class="mt-3 rounded-circle z-depth-1 img-fluid">

          </div>
          <mdb-card-body>
            <!--Name-->
            <h4 class="font-weight-bold subtitulo mb-0">Zindy Juárez Gutiérrez</h4>
            <h6 class="font-weight-bold texto2 blue-text mb-1">Neuro Psicóloga</h6>
            <hr>
            <!--Quotation-->
            <p class="dark-grey-text mt-1 texto mb-0">
              <mdb-icon fas icon="phone" class="pr-2"></mdb-icon>771 240 8217</p>
              <a href="https://www.facebook.com/Nueura"><mdb-icon class="mx-2" fab icon="facebook"></mdb-icon></a>
              <a href="https://api.whatsapp.com/send?phone=+527712408217&text=Hola.%20Quiero%20m%C3%A1s%20informaci%C3%B3n%20acerca%20de%20sus%20servicios."><mdb-icon class="mx-2 whatsapp" fab icon="whatsapp"></mdb-icon></a>
          </mdb-card-body>
        </mdb-card>
        <!--Card-->
      </div>
      <!--Grid column-->
        </div>
        <!-- Grid column -->

        <div class="col-lg-8">

         
        <div class="mt-3 col-lg-12">
          <iframe class="col-md-12 col-md-12" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3746.1679957083256!2d-98.75175950888594!3d20.12703778728275!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb9cd7107c77fe3de!2zMjDCsDA3JzQwLjYiTiA5OMKwNDUnMDEuMiJX!5e0!3m2!1sen!2smx!4v1637087083219!5m2!1sen!2smx" width="600" height="400" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
        
      </div>

      </div>
    </div>
    
  </div>
  </section>
</div>


<div class="col-12 mb-5">
  <section class="contact-section my-3">
      
      <!-- Form with header -->
      <div class="row">
      <div class="card col-12 col-lg-12">
  
        <!-- Grid row -->
        <div class="row">
    
          <!-- Grid column -->
        <div class="col-lg-4 text-center">
              <!--Grid column-->
        <div class="col-lg-12 col-md-12 mb-lg-0 mb-4">
          <!--Card-->
          <mdb-card class="testimonial-card">
            <!--Background color-->
            <div class="card-up info-color"></div>
            <!--Avatar-->
            <div class="avatar mx-auto white">
              
              <img src="../../assets/img/imgContacto/con2.jpg" class="mt-3 rounded-circle z-depth-1 img-fluid">
  
            </div>
            <mdb-card-body>
              <!--Name-->
              <h4 class="font-weight-bold subtitulo mb-0">Tanatología Pachuca</h4>
              <h6 class="font-weight-bold texto2 blue-text mb-1">Profesionales en Psicología</h6>
              <hr>
              <!--Quotation-->
              <p class="dark-grey-text mt-1 texto mb-0">
                <mdb-icon fas icon="phone" class="pr-2"></mdb-icon>771 150 5499</p>
                <a href="https://www.facebook.com/TanatologiaPachuca"><mdb-icon class="mx-2" fab icon="facebook"></mdb-icon></a>
                <a href="https://api.whatsapp.com/send?phone=+527711505499&text=Hola.%20Quiero%20m%C3%A1s%20informaci%C3%B3n%20acerca%20de%20sus%20servicios."><mdb-icon class="mx-2 whatsapp" fab icon="whatsapp"></mdb-icon></a>
            </mdb-card-body>
          </mdb-card>
          <!--Card-->
        </div>
        <!--Grid column-->
          </div>
          <!-- Grid column -->
  
          <div class="col-lg-8">
  
           
          <div class="mt-3 col-lg-12">
            <iframe class="col-md-12 col-md-12" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d29974.328822169304!2d-98.75641847230376!3d20.10101743651067!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d109fd22258189%3A0xa1fe47d19018376!2sTanatolog%C3%ADa%20Pachuca!5e0!3m2!1ses!2smx!4v1637087344396!5m2!1ses!2smx" width="600" height="400" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
          </div>
          
        </div>
  
        </div>
      </div>
      
    </div>
    </section>
</div>
  

<div class="col-12 mb-5">
    <section class="contact-section my-3">
        
        <!-- Form with header -->
        <div class="row">
        <div class="card col-12 col-lg-12">
    
          <!-- Grid row -->
          <div class="row">
      
            <!-- Grid column -->
          <div class="col-lg-4 text-center">
                <!--Grid column-->
          <div class="col-lg-12 col-md-12 mb-lg-0 mb-4">
            <!--Card-->
            <mdb-card class="testimonial-card">
              <!--Background color-->
              <div class="card-up info-color"></div>
              <!--Avatar-->
              <div class="avatar mx-auto white">
                
                <img src="../../assets/img/imgContacto/con3.jpg" class="mt-3 rounded-circle z-depth-1 img-fluid">
    
              </div>
              <mdb-card-body>
                <!--Name-->
                <h4 class="font-weight-bold subtitulo mb-0">Psicología Clinica Integral</h4>
                <h6 class="font-weight-bold texto2 blue-text mb-1">Profesional en Psicología</h6>
                <hr>
                <!--Quotation-->
                <p class="dark-grey-text texto mt-1 mb-0">
                  <mdb-icon fas icon="phone" class="pr-2"></mdb-icon>771 121 0793 <br>
                  <a href="https://www.facebook.com/Psicolog%C3%ADa-Cl%C3%ADnica-Integral-101451404763171"><mdb-icon class="mt-0 mx-2" fab icon="facebook"></mdb-icon></a>
                  <a href="https://api.whatsapp.com/send?phone=+525518144218&text=Hola.%20Quiero%20m%C3%A1s%20informaci%C3%B3n%20acerca%20de%20sus%20servicios."><mdb-icon class="mx-2 whatsapp" fab icon="whatsapp"></mdb-icon></a>
                  </p>
              </mdb-card-body>
            </mdb-card>
            <!--Card-->
          </div>
          <!--Grid column-->
            </div>
            <!-- Grid column -->
    
            <div class="col-lg-8">
    
             
            <div class="mt-3 col-lg-12">
              <iframe class="col-md-12 col-md-12" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d29969.884263386466!2d-98.73367329923776!3d20.12421905657224!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d109e5bb611737%3A0xcb24040c1b4204a1!2sCalle%20Mariano%20Matamoros%20505%2C%20Centro%2C%2042000%20Pachuca%20de%20Soto%2C%20Hgo.!5e0!3m2!1ses!2smx!4v1637088390362!5m2!1ses!2smx" width="600" height="420" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
            
          </div>
    
          </div>
        </div>
        
      </div>
      </section>
</div>  




<!-- Footer -->
<footer class="page-footer font-small blue">

  <!-- Copyright -->
  <div class="footer-copyright peach-gradient text-center py-3">© 2021 Copyright: ITP
    
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->


