<br>
<br>
   
<div class="embed-responsive embed-responsive-21by9">
    <iframe class="embed-responsive-item" src="../../assets/img/imgInicio/resi.mp4"></iframe>
</div>

<mdb-card  class="my-4">
  

  <!-- Card content -->
  <mdb-card-body  class="text-center">

    <!--Title-->
    <h1 class="titulo">
      <strong>Resiliencia ante crisis sanitaria SARS-CoV-2</strong>
    </h1>

    <mdb-card-text class="mr-5 ml-5">
      <p class="texto">A veces la vida nos pone a prueba, nos plantea situaciones que superan nuestras capacidades: una enfermedad, 
      una ruptura de pareja particularmente dolorosa, la muerte de un ser querido, el fracaso de un sueño largamente 
      anhelado, problemas económicos o una pandemia como el COVID-19.</p>

      <p class="texto">Existen diferentes circunstancias que nos pueden llevar al límite y hacer que nos cuestionemos si tenemos la fuerza 
      y la voluntad necesarias para continuar adelante. En este punto tenemos dos opciones: dejarnos vencer y sentir que 
      hemos fracasado o sobreponernos y salir fortalecidos, apostar por la resiliencia.</p>
    </mdb-card-text>

    <h2 class="subtitulo">
      <strong>¿Qué es la Resiliencia?</strong>
    </h2>

    <mdb-card-text class="mr-5 ml-5">
      <p class="texto">
      La Resiliencia es un instrumento clínico que exige un cuadro de referencia moral. Esto implica que un individuo 
      debe superar la situación de adversidad dentro de las normas culturales en las que él se desenvuelve, es decir 
      que deberá desarrollar alguna idea de lo que es aconsejable y aceptable.
      <br>
      La Resiliencia se sustenta en la interacción entre la persona y el entorno, ya que ambos niveles necesitan crecer 
      juntos; por lo tanto, es importante revisar desde el punto de vista psicológico, cuál es el rol que juega la 
      relación con el otro en su desarrollo.
      <br>
      La Resiliencia no debe considerarse como una capacidad fija, sino que puede variar a través del tiempo y de las 
      circunstancias. (Suárez Ojeda, 1993). No debe olvidarse que la vida presenta situaciones traumáticas como muerte 
      de un familiar, divorcio, corrupción social, etc.; entonces, cualquier actitud que se adopte deberá estar nutrida 
      por un contexto alentador. (Parral, Contreras, 1999).
      <br>
      Si se piensa que la Resiliencia del individuo influye en el grupo, generando conductas resilientes colectivas, por 
      qué no considerar que la Resiliencia del grupo también impacta en el individuo y, por qué no hablar de grupos 
      resilientes que no necesariamente están compuestos por individuos resilientes, y que expresan en sí mismos estas 
      conductas sólo de manera colectiva.
      </p>
      
    </mdb-card-text>

  </mdb-card-body>

</mdb-card>


<!--Section: Blog v.4-->
<section class="my-0">

  <!--Grid row-->
  <div class="row">
    <div class="col-md-12">
      <!--Featured image-->
      <mdb-card>
        <div class="view view-cascade overlay waves-light" mdbWavesEffect>
          <mdb-card-img src="../../assets/img/imgInicio/res1.jpg" alt="Wide sample post image"></mdb-card-img>
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!--Post data-->
        <mdb-card-body class="text-center">
          <h2 class="subtitulo">
            <a class="font-weight-bold">Características de los factores de la Resiliencia</a>
          </h2>
          <p class="texto">Escrito por
            <a>Eleonora García Quiroga
              , Claribel Morales de Barbenza</a>, 2014

          <!--Social shares-->
        </mdb-card-body>
        <!--Post data-->
      </mdb-card>

      
    </div>
  </div>
  <!--Grid row-->

</section>
<!--Section: Blog v.4-->





<div class="d-flex">
  <!-- Card -->
  <mdb-card
    style="background-image: url('https://cdn.pixabay.com/photo/2015/10/18/19/43/deficient-995123__340.jpg')"
    class="card-image mb-2 mx-3 rounded"
  >
    <!-- Content -->
    <div class="text-white text-center d-flex align-items-center rgba-black-strong py-4 px-4">
      <div>
        
        <p class="texto2">
          De acuerdo al modelo Yo Tengo, Yo Soy, Yo Estoy y Yo Puedo (Grotberg, 1995) que sustenta esta investigación, 
          las características de los factores componentes de la Resiliencia son:
        </p>
        <h3 class="subtitulo2"><strong>Yo tengo a mi alrededor personas:</strong></h3>
        <p class="texto2">
          <mdb-icon fas icon="check"></mdb-icon> que me quieren incondicionalmente y en quienes confío.
          <br>
          <mdb-icon fas icon="check"></mdb-icon> que me ponen límites.
          <br>
          <mdb-icon fas icon="check"></mdb-icon> que me muestran por medio de su conducta la manera correcta de proceder.
          <br>
          <mdb-icon fas icon="check"></mdb-icon> que me ayudan cuando estoy en peligro o enfermo.
          <br>
          <mdb-icon fas icon="check"></mdb-icon> que desean que aprenda a desenvolverme solo.
        </p>
        
      </div>
    </div>
    <!-- Content -->
  </mdb-card>
  <!-- Card -->
</div>




<div class="col-12">

  <div class="row uk-display-inline-block justify-content-center">
    <div class="col-lg-4 col-md-6">
      <div class="view rounded zoom z-depth-2 mb-4 waves-light">
        <img src="../../assets/img/imgInicio/yo1.jpg" class="img-fluid rounded-bottom largo" alt="Sample-image">
       <a> <div class="mask flex-center rgba-black-light">
        <div class="text-white text-center py-lg-5">
         
            
            <h2 class="subtitulo2">
              <strong>Yo Soy</strong>
              <!--<img src="../../assets/img/misionpng.png" class="logo izquierda">-->
            </h2>
  
            <p class="mx-5 clearfix d-md-block texto2"> 
             
              <mdb-icon fas icon="child"></mdb-icon> una persona por la que otros sienten aprecio y amor.
              <br>
              <mdb-icon fas icon="child"></mdb-icon> feliz cuando hago algo bueno para los demás.
              <br>
              <mdb-icon fas icon="child"></mdb-icon> respetuoso de mí mismo y de los demás prójimos.
              
            </p>
          
        </div>
        </div></a>
    </div>
    </div>
  
  
  
    <div class="col-lg-4 col-md-6">
      <div class="view rounded zoom z-depth-2 mb-4 waves-light">
        <img src="../../assets/img/imgInicio/yo2.jpg" class="img-fluid rounded-bottom largo" alt="Sample-image">
       <a> <div class="mask flex-center rgba-black-strong">
        <div class="text-white text-center py-lg-5 py-0 my-0">
          
            <h2 class="subtitulo2">
              <strong>Yo Estoy</strong>
            </h2>
  
            <p class="mx-5 clearfix d-md-block texto2">
              
              <mdb-icon fas icon="hand-holding-heart"></mdb-icon> dispuesto a responsabilizarme de mis actos.
              <br>
              <mdb-icon fas icon="hand-holding-heart"></mdb-icon> seguro que todo saldrá bien.
            
            </p>
          
        </div>
        </div></a>
    </div>
    </div>
  
  
    <div class="col-lg-4 col-md-6">
      <div class="view rounded zoom z-depth-2 mb-4 waves-light">
        <img src="../../assets/img/imgInicio/yo3.jpg" class="img-fluid rounded-bottom largo" alt="Sample-image">
       <a> <div class="mask flex-center rgba-black-strong">
        <div class="text-white text-center py-lg-5 py-0 my-0">
         
            <h2 class="subtitulo2">
              <strong>Yo Puedo</strong>
            </h2>
  
            <p class="mx-5 clearfix d-md-block texto2">
              
              <mdb-icon fas icon="star"></mdb-icon> hablar sobre cosas que me asustan o me inquietan.
              <br>
              <mdb-icon fas icon="star"></mdb-icon> buscar el momento apropiado para hablar con alguien o actuar.
              <br>
              <mdb-icon fas icon="star"></mdb-icon> encontrar a alguien que me ayude cuando lo necesito.

            </p>
          
        </div>
        </div></a>
    </div>
    </div>
  
  </div>
  </div>
  

<div class="excerpt text-center texto mt-3 mr-5 ml-5">
  <strong>La Resiliencia es el resultado de una combinación de estas actitudes y rasgos.</strong>
  <br>
</div>




<!--Section: Products v.4-->
<section class="pb-3 text-center ">

  <!--Section heading-->
  <h2 class="h1 py-3 subtitulo font-weight-bold">Los siete pilares de la Resiliencia</h2>
  <!--Section description-->
  <p class="mb-4 texto"><strong>En sus estudios Wolin y Wolin (1993) utilizan el concepto de “mandala de la Resiliencia”, 
    para desarrollar la noción de los 7 pilares de la Resiliencia, que designan aquellos atributos que aparecen con 
    frecuencia en personas consideradas resilientes. Estos son:</strong></p>

  <!--Grid row-->
  <div class="row">

    <!--Grid column-->
    <div class="col-lg-3 col-md-6 mb-4">

      <!--Collection card-->
      <mdb-card class="collection-card z-depth-1-half">
        <!--Card image-->
        <div class="view zoom waves-light" mdbWavesEffect>
          <mdb-card-img src="../../assets/img/imgInicio/res2.jpg" alt=""></mdb-card-img>
          <div class="stripe dark">
            <a>
              <p class="mt-3 texto" data-toggle="modal" data-target="#basicExample" (click)="frame1.show()">La introspección
                <mdb-icon fas icon="angle-right"></mdb-icon>
              </p>
            </a>
          </div>
        </div>
        <!--Card image-->
      </mdb-card>
      <!--Collection card-->

    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-lg-3 col-md-6 mb-4">

      <!--Collection card-->
      <mdb-card class="collection-card z-depth-1-half">
        <!--Card image-->
        <div class="view zoom waves-light" mdbWavesEffect>
          <mdb-card-img src="../../assets/img/imgInicio/res3.jpg" alt=""></mdb-card-img>
          <div class="stripe light">
            <a>
              <p class="mt-3 texto" data-toggle="modal" data-target="#basicExample" (click)="frame2.show()">La independencia
                <mdb-icon fas icon="angle-right"></mdb-icon>
              </p>
            </a>
          </div>
        </div>
        <!--Card image-->
      </mdb-card>
      <!--Collection card-->

    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-lg-3 col-md-6 mb-4">

      <!--Collection card-->
      <mdb-card class="collection-card z-depth-1-half">
        <!--Card image-->
        <div class="view zoom waves-light" mdbWavesEffect>
          <mdb-card-img src="../../assets/img/imgInicio/res4.jpg" alt=""></mdb-card-img>
          <div class="stripe dark">
            <a>
              <p class="mt-3 texto" data-toggle="modal" data-target="#basicExample" (click)="frame3.show()">La capacidad de interacción
                <mdb-icon fas icon="angle-right"></mdb-icon>
              </p>
            </a>
          </div>
        </div>
        <!--Card image-->
      </mdb-card>
      <!--Collection card-->

    </div>
    <!--Grid column-->

    <!--Fourth column-->
    <div class="col-lg-3 col-md-6 mb-4">

      <!--Collection card-->
      <mdb-card class="collection-card z-depth-1-half">
        <!--Card image-->
        <div class="view zoom waves-light" mdbWavesEffect>
          <mdb-card-img src="../../assets/img/imgInicio/res5.jpg" alt=""></mdb-card-img>
          <div class="stripe light">
            <a>
              <p class="mt-3 texto" data-toggle="modal" data-target="#basicExample" (click)="frame4.show()">La capacidad de iniciativa
                <mdb-icon fas icon="angle-right"></mdb-icon>
              </p>
            </a>
          </div>
        </div>
        <!--Card image-->
      </mdb-card>
      <!--Collection card-->

    </div>
    <!--Fourth column-->

  </div>
  <!--Grid row-->

  <!--Grid row-->
  <div class="row">

    <!--Grid column-->
    <div class="col-lg-3 col-md-6 mb-4">

      <!--Collection card-->
      <mdb-card class="collection-card z-depth-1-half">
        <!--Card image-->
        <div class="view zoom waves-light" mdbWavesEffect>
          <mdb-card-img src="../../assets/img/imgInicio/res6.jpg" alt=""></mdb-card-img>
          <div class="stripe dark">
            <a>
              <p class="mt-3 texto" data-toggle="modal" data-target="#basicExample" (click)="frame5.show()">La creatividad
                <mdb-icon fas icon="angle-right"></mdb-icon>
              </p>
            </a>
          </div>
        </div>
        <!--Card image-->
      </mdb-card>
      <!--Collection card-->

    </div>
    <!--Grid column-->

    

    <!--Grid column-->
    <div class="col-lg-3 col-md-6 mb-4 container">

      <!--Collection card-->
      <mdb-card class="collection-card z-depth-1-half">
        <!--Card image-->
        <div class="view zoom waves-light" mdbWavesEffect>
          <mdb-card-img src="../../assets/img/imgInicio/res7.jpg" alt=""></mdb-card-img>
          <div class="stripe dark">
            <a>
              <p class="mt-3 texto" data-toggle="modal" data-target="#basicExample" (click)="frame6.show()">La ideología personal
                <mdb-icon fas icon="angle-right"></mdb-icon>
              </p>
            </a>
          </div>
        </div>
        <!--Card image-->
      </mdb-card>
      <!--Collection card-->

    </div>
    <!--Grid column-->

    <!--Fourth column-->
    <div class="col-lg-3 col-md-6 mb-4">

      <!--Collection card-->
      <mdb-card class="collection-card z-depth-1-half">
        <!--Card image-->
        <div class="view zoom waves-light" mdbWavesEffect>
          <mdb-card-img src="../../assets/img/imgInicio/res8.jpg" alt=""></mdb-card-img>
          <div class="stripe light">
            <a>
              <p class="mt-3 texto" data-toggle="modal" data-target="#basicExample" (click)="frame7.show()">El sentido del humor
                <mdb-icon fas icon="angle-right"></mdb-icon>
              </p>
            </a>
          </div>
        </div>
        <!--Card image-->
      </mdb-card>
      <!--Collection card-->

    </div>
    <!--Fourth column-->

  </div>
  <!--Grid row-->

  

</section>
<!--Section: Products v.4-->


<!-- Footer -->
<footer class="page-footer font-small blue">

  <!-- Copyright -->
  <div class="footer-copyright peach-gradient text-center py-3">© 2021 Copyright: ITP
    
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->





<!--Modal de Introspección-->
<div mdbModal #frame1="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-notify modal-info" role="document">
    <!--Content-->
    <div class="modal-content">
      <!--Header-->
      <div class="modal-header peach-gradient">
        <p class="heading lead">La introspección</p>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame1.hide()">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>

      <!--Body-->
      <div class="modal-body">
        <div class="text-center">
          <mdb-icon fas icon="globe-americas" size="4x" class="mb-3 animated rotateIn"></mdb-icon>
          <p>Es la capacidad de conocer, de saber lo que pasa alrededor y es fundamental para comprender las situaciones 
            y adaptarse a ellas.</p>
        </div>
      </div>

      <!--Footer-->
      <div class="modal-footer justify-content-center">
        <a type="button" mdbBtn color="primary" class="waves-effect peach-gradient" mdbWavesEffect (click)="frame1.hide()">Cerrar</a>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>

<!--Modal de Independencia-->
<div mdbModal #frame2="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-notify modal-info" role="document">
    <!--Content-->
    <div class="modal-content">
      <!--Header-->
      <div class="modal-header peach-gradient">
        <p class="heading lead">La independencia</p>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame2.hide()">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>

      <!--Body-->
      <div class="modal-body">
        <div class="text-center">
          <mdb-icon fas icon="child" size="4x" class="mb-3 animated rotateIn"></mdb-icon>
          <p>Se refleja en conductas tales como no involucrarse, «no enganchar», en situaciones conflictivas.
          </p>
        </div>
      </div>

      <!--Footer-->
      <div class="modal-footer justify-content-center">
        <a type="button" mdbBtn color="primary" class="waves-effect peach-gradient" mdbWavesEffect (click)="frame2.hide()">Cerrar</a>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>

<!--Modal de Interacción-->
<div mdbModal #frame3="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-notify modal-info" role="document">
    <!--Content-->
    <div class="modal-content">
      <!--Header-->
      <div class="modal-header peach-gradient">
        <p class="heading lead">La capacidad de interacción</p>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame3.hide()">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>

      <!--Body-->
      <div class="modal-body">
        <div class="text-center">
          <mdb-icon fas icon="comments" size="4x" class="mb-3 animated rotateIn"></mdb-icon>
          <p>Esta capacidad está presente en la habilidad para reclutar pares y de establecer redes sociales de apoyo.
          </p>
        </div>
      </div>

      <!--Footer-->
      <div class="modal-footer justify-content-center">
        <a type="button" mdbBtn color="primary" class="waves-effect peach-gradient" mdbWavesEffect (click)="frame3.hide()">Cerrar</a>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>

<!--Modal de Iniciativa-->
<div mdbModal #frame4="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-notify modal-info" role="document">
    <!--Content-->
    <div class="modal-content">
      <!--Header-->
      <div class="modal-header peach-gradient">
        <p class="heading lead">La capacidad de iniciativa</p>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame4.hide()">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>

      <!--Body-->
      <div class="modal-body">
        <div class="text-center">
          <mdb-icon fas icon="hand-holding-heart" size="4x" class="mb-3 animated rotateIn"></mdb-icon>
          <p>Aparece en la inclinación al estudio, la práctica de deportes y en realizar actividades esta-escolares, 
            como trabajos voluntarios, comunitarios y hobbies.</p>
        </div>
      </div>

      <!--Footer-->
      <div class="modal-footer justify-content-center">
        <a type="button" mdbBtn color="primary" class="waves-effect peach-gradient" mdbWavesEffect (click)="frame4.hide()">Cerrar</a>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>

<!--Modal de Creatividad-->
<div mdbModal #frame5="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-notify modal-info" role="document">
    <!--Content-->
    <div class="modal-content">
      <!--Header-->
      <div class="modal-header peach-gradient">
        <p class="heading lead">La creatividad</p>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame5.hide()">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>

      <!--Body-->
      <div class="modal-body">
        <div class="text-center">
          <mdb-icon fas icon="lightbulb" size="4x" class="mb-3 animated rotateIn"></mdb-icon>
          <p>Esta capacidad se expresa en el desarrollo de habilidades artísticas.
          </p>
        </div>
      </div>

      <!--Footer-->
      <div class="modal-footer justify-content-center">
        <a type="button" mdbBtn color="primary" class="waves-effect peach-gradient" mdbWavesEffect (click)="frame5.hide()">Cerrar</a>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>

<!--Modal de Ideología-->
<div mdbModal #frame6="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-notify modal-info" role="document">
    <!--Content-->
    <div class="modal-content">
      <!--Header-->
      <div class="modal-header peach-gradient">
        <p class="heading lead">La ideología personal </p>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame6.hide()">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>

      <!--Body-->
      <div class="modal-body">
        <div class="text-center">
          <mdb-icon fas icon="hands-helping" size="4x" class="mb-3 animated rotateIn"></mdb-icon>
          <p>En la adolescencia se desarrollan valores propios y se establecen juicios en forma independiente de los 
            padres. Se desarrolla el sentido de la compasión, justicia y lealtad.</p>
        </div>
      </div>

      <!--Footer-->
      <div class="modal-footer justify-content-center">
        <a type="button" mdbBtn color="primary" class="waves-effect peach-gradient" mdbWavesEffect (click)="frame6.hide()">Cerrar</a>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>

<!--Modal del Humor-->
<div mdbModal #frame7="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-notify modal-info" role="document">
    <!--Content-->
    <div class="modal-content">
      <!--Header-->
      <div class="modal-header peach-gradient">
        <p class="heading lead">El sentido del humor</p>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame7.hide()">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>

      <!--Body-->
      <div class="modal-body">
        <div class="text-center">
          <mdb-icon fas icon="grin-beam" size="4x" class="mb-3 animated rotateIn"></mdb-icon>
          <p>Contribuye al sostén de las identificaciones grupales.
          </p>
        </div>
      </div>

      <!--Footer-->
      <div class="modal-footer justify-content-center">
        <a type="button" mdbBtn color="primary" class="waves-effect peach-gradient" mdbWavesEffect (click)="frame7.hide()">Cerrar</a>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>