<br>
<!-- Section: Blog v.1 -->
<section class="my-5">

    <h1 class="h1-responsive font-weight-bold text-center titulo my-4">Articulos informativos</h1>
    <!-- Section heading -->
    <h2 class="h1-responsive font-weight-bold text-center subtitulo my-3">Resiliencia</h2>
    <!-- Section description -->
    <p class="text-center w-responsive mx-auto texto mb-5"><strong>Ante una pandemia abrumadora, la gente no reacciona de la misma forma. 
        Fallan mecanismos de afrontamiento, no hay capacidad de adaptación al cambio y la resiliencia brilla por su ausencia. 
        Una de las grandes lecciones del mundo humanitario es precisamente el desarrollo de estas habilidades.</strong>
    </p>

    <!-- Grid row -->
    <div class="row">
  
      <!-- Grid column -->
      <div class="col-lg-5">
  
        <!-- Featured image -->
        <div class="view overlay rounded z-depth-2 mb-lg-0 mb-4 waves-light" mdbWavesEffect>
          <img class="animated pulse img-fluid" src="../../assets/img/imgInicio/i1.jpg" alt="Sample image">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
  
      </div>
      <!-- Grid column -->
  
      <!-- Grid column -->
      <div class="col-lg-7">
  
        <!-- Category -->
        <!-- Post title -->
        <h3 class="font-weight-bold mb-3 subtitulo2"><strong>La salud mental durante el COVID-19:</strong></h3>
        <!-- Excerpt -->
        <p class="texto2"><strong>El estrés, el miedo y la incertidumbre que genera la pandemia del COVID-19 pueden desgastar a cualquiera, 
            pero para los niños y adolescentes puede ser aún más devastadora emocionalmente.</strong>
        </p>
        <!-- Post data -->
        <p class="texto">por <a><strong>American Academy of Pediatrics</strong></a>, 20/08/2021</p>
        <!-- Read more button -->
        <a href="https://www.healthychildren.org/Spanish/health-issues/conditions/COVID-19/Paginas/Signs-your-Teen-May-Need-More-Support.aspx" mdbBtn class="peach-gradient" mdbWavesEffect>Leer más</a>
  
      </div>
      <!-- Grid column -->
  
    </div>
    <!-- Grid row -->
  
    <hr class="my-5">
  
    <!-- Grid row -->
    <div class="row">
  
      <!-- Grid column -->
      <div class="col-lg-7">
  
        <!-- Post title -->
        <h3 class="font-weight-bold mb-3 subtitulo2"><strong>Señales de depresión durante la crisis del coronavirus</strong></h3>
        <!-- Excerpt -->
        <p class="texto2"><strong>A medida que la crisis del COVID-19 continúa, hay una cosa a la que debemos estar muy atentos: la 
          depresión, tanto en nuestros hijos como en nosotros mismos.</strong></p>
        <!-- Post data -->
        <p class="texto">por <a><strong>Caroline Miller</strong></a>, 10/05/2021</p>
        <!-- Read more button -->
        <a href="https://childmind.org/es/articulo/senales-de-depresion-durante-la-crisis-del-coronavirus/" mdbBtn  mdbWavesEffect class="mb-lg-0 mb-4 peach-gradient">Leer más</a>
  
      </div>
      <!-- Grid column -->
  
      <!-- Grid column -->
      <div class="col-lg-5">
  
        <!-- Featured image -->
        <div class="view overlay rounded z-depth-2 waves-light" mdbWavesEffect>
          <img class="animated pulse img-fluid" src="../../assets/img/imgInicio/i2.jpg" alt="Sample image">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
  
      </div>
      <!-- Grid column -->
  
    </div>
    <!-- Grid row -->
  
    <hr class="my-5">
  
    <!-- Grid row -->
    <div class="row">
  
      <!-- Grid column -->
      <div class="col-lg-5">
  
        <!-- Featured image -->
        <div class="view overlay rounded z-depth-2 mb-lg-0 mb-4 waves-light" mdbWavesEffect>
          <img class="animated pulse img-fluid" src="../../assets/img/imgInicio/i5.jpg" alt="Sample image">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
  
      </div>
      <!-- Grid column -->
  
      <!-- Grid column -->
      <div class="col-lg-7">
  
        <!-- Post title -->
        <h3 class="font-weight-bold mb-3 subtitulo2"><strong>6 efectos de la pandemia en la salud mental de adolescentes y jóvenes</strong></h3>
        <!-- Excerpt -->
        <p class="texto2"><strong>Confinados en casa, aislados de sus amigos, enfrentándose a la pérdida, niños, 
          niñas y jóvenes se han visto expuestos a grandes riesgos para su salud mental debido al COVID-19.</strong></p>
        <!-- Post data -->
        <p class="texto">por <a><strong>Unicef</strong></a>, 2021</p>
        <!-- Read more button -->
        <a href="https://www.unicef.org/lac/6-efectos-de-la-pandemia-en-la-salud-mental-de-adolescentes-y-jovenes" mdbBtn class="peach-gradient" mdbWavesEffect>Leer más</a>
  
      </div>
      <!-- Grid column -->
  
    </div>
    <!-- Grid row -->

    <hr class="my-5">

    <!-- Grid row -->
    <div class="row">
  
      <!-- Grid column -->
      <div class="col-lg-7">
  
        <!-- Post title -->
        <h3 class="font-weight-bold mb-3 subtitulo2"><strong>COVID-19 y tu salud mental</strong></h3>
        <!-- Excerpt -->
        <p class="texto2"><strong>Las preocupaciones y la ansiedad sobre COVID-19 y su impacto pueden ser abrumadoras. 
          El distanciamiento social hace que todo sea aún más complejo. Aprende maneras de afrontar la situación 
          durante esta pandemia.</strong></p>
        <!-- Post data -->
        <p class="texto">por <a><strong>Mayo Clinic</strong></a>, 05/10/2020</p>
        <!-- Read more button -->
        <a href="https://www.mayoclinic.org/es-es/diseases-conditions/coronavirus/in-depth/mental-health-covid-19/art-20482731" mdbBtn  mdbWavesEffect class="mb-lg-0 mb-4 peach-gradient">Leer más</a>
  
      </div>
      <!-- Grid column -->
  
      <!-- Grid column -->
      <div class="col-lg-5">
  
        <!-- Featured image -->
        <div class="view overlay rounded z-depth-2 waves-light" mdbWavesEffect>
          <img class="animated pulse img-fluid" src="../../assets/img/imgInicio/i6.jpg" alt="Sample image">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
  
      </div>
      <!-- Grid column -->
  
    </div>
    <!-- Grid row -->

    <hr class="my-5">

    <!-- Grid row -->
    <div class="row">
  
      <!-- Grid column -->
      <div class="col-lg-5">
  
        <!-- Featured image -->
        <div class="view overlay rounded z-depth-2 mb-lg-0 mb-4 waves-light" mdbWavesEffect>
          <img class="animated pulse img-fluid" src="../../assets/img/imgInicio/i3.jpg" alt="Sample image">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
  
      </div>
      <!-- Grid column -->
  
      <!-- Grid column -->
      <div class="col-lg-7">
  
        <!-- Post title -->
        <h3 class="font-weight-bold mb-3 subtitulo2"><strong>Resiliencia en tiempos de pandemia</strong></h3>
        <!-- Excerpt -->
        <p class="texto2"><strong>¿Qué es y de dónde surge el concepto de resiliencia? ¿Están siendo los docentes ejemplos 
          a seguir para los alumnos en estos tiempos de crisis sanitaria?.</strong></p>
        <!-- Post data -->
        <p class="texto">por <a><strong>EDUCACIÓN 3.0</strong></a>, 21/04/2020</p>
        <!-- Read more button -->
        <a href="https://www.educaciontrespuntocero.com/recursos/educacion-emocional/resiliencia-en-tiempos-de-pandemia/" mdbBtn class="peach-gradient" mdbWavesEffect>Leer más</a>
  
      </div>
      <!-- Grid column -->
  
    </div>
    <!-- Grid row -->
  
  </section>
  <!-- Section: Blog v.1 -->


  <!-- Footer -->
<footer class="page-footer font-small blue">

  <!-- Copyright -->
  <div class="footer-copyright peach-gradient text-center py-3">© 2021 Copyright: ITP
    
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->