<br>
<br>

<div class="mask rgba-black-strong waves-light" mdbWavesEffect>
    <img src="../../assets/img/imgObjetivo/objetivo.jpg" class="animated bounce img-fluid mt-2 view vista" alt="Responsive image">
</div>

 <!-- Section heading -->
<h2 class="font-weight-bold text-center titulo mt-5 mb-3">Objetivo General</h2>
 <!-- Section description -->
<p class="text-center w-responsive mx-auto mb-5 texto"><strong>Reconocer y evidenciar las características resilientes en las personas, 
    las cuales colocan a prueba sus capacidades en medio de las adversidades que se presentan, logrando alcanzar sus 
    propias metas y permitiendo el crecimiento personal.</strong></p>
     
<h2 class="h1-responsive font-weight-bold titulo text-center mt-4 mb-3">Objetivos Específicos</h2>

<p class="text-center w-responsive texto mx-auto mb-5"><strong> 
    <mdb-icon fas icon="check"></mdb-icon> Identificar casos de personas resilientes
    <br> <mdb-icon fas icon="check"></mdb-icon> Analizar los referentes teóricos e investigativos de la resiliencia
    <br> <mdb-icon fas icon="check"></mdb-icon> Evidenciar el interés y motivaciones que poseen las personas resilientes por demostrar sus fortalezas y habilidades más allá de sus limitaciones
    <br> <mdb-icon fas icon="check"></mdb-icon> Analizar las habilidades personales e interpersonales de las personas
    <br> <mdb-icon fas icon="check"></mdb-icon> Descubrir y potenciar las cualidades individuales
    <br> <mdb-icon fas icon="check"></mdb-icon> Fomentar la autonomía y la independencia
</strong></p>




<!-- Footer -->
<footer class="page-footer font-small blue">

    <!-- Copyright -->
    <div class="footer-copyright peach-gradient text-center py-3">© 2021 Copyright: ITP
      
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->