<br>
<br>


  <div class="d-flex vista">
    <!-- Card -->
    <mdb-card
      style="background-image: url('https://cdn.pixabay.com/photo/2020/02/08/22/50/mushroom-4831465__340.jpg')"
      class="card-image mb-2 rounded"
    >
      <!-- Content -->
      <div class="text-white text-center d-flex align-items-center rgba-black-strong py-3 px-4">
        <div>
          <h3 class="card-title pt-2 titulo"><strong>Preguntas que te ayudarán a ser resiliente</strong></h3>
          <p class="texto2 mt-4 mb-1">La resiliencia nos permite transformarnos en 
            tiempo presente, cuando algo nos pasa en contra lo volcamos a nuestro favor.</p>
            
            <p class="texto2 mt-0 mb-1">Cuando alguien nos traiciona, cuando la salud 
                nos falla, cuando tenemos una ruptura de pareja particularmente dolorosa, la muerte de un ser querido, el 
                fracaso de un sueño largamente anhelado, problemas económicos o cuando no podemos controlar una determinada 
                situación solo nos queda aceptar la realidad. Si entendemos como resiliencia la capacidad humana de asumir con flexibilidad situaciones difíciles y 
                sobreponerse a las mismas para salir fortalecidos, seremos capaces de reestructurar nuestras vidas 
                evolucionando a nuevas circunstancias y necesidades, desarrollando nuestro máximo potencial.</p>
                
            <p class="texto2 mt-0 mb-1">Frente a la situación actual que vamos enfrentando a nivel mundial es importante entrenarnos en resiliencia 
                con la creatividad, con la inteligencia emocional y con la felicidad cotidiana que cada uno de nosotros posee.
                Para actuar con resiliencia se necesitan dos pilares fundamentales que nos dan la estabilidad emocional que 
                requerimos: la familia y las relaciones sociales. Estos son los cinco pilares fundamentales para vivir con 
                resiliencia en cuarentena.
                </p>
          
        </div>
      </div>
      <!-- Content -->
    </mdb-card>
    <!-- Card -->
  </div>  









<!-- Section: Blog v.3 -->
<section class="my-3">

    

    <!-- Grid row -->
    <div class="row">
  
      <!-- Grid column -->
      <div class="col-lg-5 col-xl-4">
  
        <!-- Featured image -->
        <div class="view overlay rounded z-depth-1-half mb-lg-0 mb-4 zoom waves-light" mdbWavesEffect>
          <img class="img-fluid" src="https://cdn.pixabay.com/photo/2016/02/04/16/52/men-1179452__340.jpg" alt="Sample image">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
  
      </div>
      <!-- Grid column -->
  
      <!-- Grid column -->
      <div class="col-lg-7 col-xl-8">
  
        <!-- Post title -->
        <h3 class="font-weight-bold subtitulo mb-3"><strong>1. ACTITUD</strong></h3>
        <!-- Excerpt -->
        <p class="texto"><strong>El confinamiento nos favorece la reflexión; poder cambiar y mejorar comportamientos, 
            prácticas y las actitudes de nuestra vida que no eran saludables ni ecológicas y valorar lo que realmente 
            importa.</strong>
        </p>
        <p class="texto">
          <strong>
            PREGÚNTATE: <br>
            ¿Qué comportamientos han sido negativos en mi vida?<br>
            ¿Necesito un cambio de visión?<br>
            ¿Soy capaz de practicar la empatía y el respeto a los demás?<br>
            ¿Cómo es mi actitud frente a este proceso que es mi realidad ahora?
          </strong>
        </p>

  
      </div>
      <!-- Grid column -->
  
    </div>
    <!-- Grid row -->
  
    <hr class="my-5">
  
    <!-- Grid row -->
    <div class="row">
  
      <!-- Grid column -->
      <div class="col-lg-5 col-xl-4">
  
        <!-- Featured image -->
        <div class="view overlay rounded z-depth-1-half mb-lg-0 mb-4 zoom waves-light" mdbWavesEffect>
          <img class="img-fluid" src="https://cdn.pixabay.com/photo/2016/04/15/21/15/fish-1331930__340.jpg" alt="Sample image">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
  
      </div>
      <!-- Grid column -->
  
      <!-- Grid column -->
      <div class="col-lg-7 col-xl-8">
  
        <!-- Post title -->
        <h3 class="font-weight-bold subtitulo mb-3"><strong>2. PACIENCIA</strong></h3>
        <!-- Excerpt -->
        <p class="texto"><strong>Estamos acostumbrados a la impulsividad, a querer las cosas rápido, nos generamos estrés y dejamos de 
           encontrar un sentido a la vida. Es una ocasión de oro para trabajar la paciencia, la cual favorece la 
           gestión de la frustración, reflexionar y tomar mejores decisiones.</strong>
        </p>

        <p class="texto">
            <strong>
            PREGÚNTATE: <br>
            ¿Soy capaz de conseguir la paz en mi vida en estos momentos? <br>
            ¿Qué aprendo de mis impulsos, me llevan por buen camino? <br>
            </strong>
        </p>
  
      </div>
      <!-- Grid column -->
  
    </div>
    <!-- Grid row -->
  
    <hr class="my-5">
  
    <!-- Grid row -->
    <div class="row">
  
      <!-- Grid column -->
      <div class="col-lg-5 col-xl-4">
  
        <!-- Featured image -->
        <div class="view overlay rounded z-depth-1-half mb-lg-0 mb-4 zoom waves-light" mdbWavesEffect>
          <img class="img-fluid" src="https://cdn.pixabay.com/photo/2021/04/13/06/59/woman-6174830__340.jpg" alt="Sample image">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
  
      </div>
      <!-- Grid column -->
  
      <!-- Grid column -->
      <div class="col-lg-7 col-xl-8">
  
        <!-- Post title -->
        <h3 class="font-weight-bold subtitulo mb-3"><strong>3. CREATIVIDAD</strong></h3>
        <!-- Excerpt -->
        <p class="texto"> 
            <strong>
            Decir cosas y hacerlas de otro modo me permite flexibilizar la vida misma. Confiemos en las personas 
            y en su capacidad para hacer el bien. Confiemos que esta temporada trae consigo una apertura al lado 
            creativo de nuestro ser. Las situaciones que estamos viendo sacan lo mejor de nosotros. Tenemos una 
            libertad creativa que ahora podemos desarrollar.
            </strong>
        </p>
        <p class="texto">
          <strong>
            PREGÚNTATE: <br>
            ¿Qué quiero hacer ahora que antes no lo hacía por falta de tiempo? <br>
            ¿Qué soy capaz de crear que me ayude y también a los demás? 
          </strong>
        </p>
  
      </div>
      <!-- Grid column -->
  
    </div>
    <!-- Grid row -->

    <hr class="my-5">
  
    <!-- Grid row -->
    <div class="row">
  
      <!-- Grid column -->
      <div class="col-lg-5 col-xl-4">
  
        <!-- Featured image -->
        <div class="view overlay rounded z-depth-1-half mb-lg-0 mb-4 zoom waves-light" mdbWavesEffect>
          <img class="img-fluid" src="https://cdn.pixabay.com/photo/2019/11/08/09/27/panorama-4610864__340.jpg" alt="Sample image">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
  
      </div>
      <!-- Grid column -->
  
      <!-- Grid column -->
      <div class="col-lg-7 col-xl-8">
  
        <!-- Post title -->
        <h3 class="font-weight-bold subtitulo mb-3"><strong>4. HORARIO</strong></h3>
        <!-- Excerpt -->
        <p class="texto">
          <strong>
            Sacarse tiempos para pasar en familia conversando, jugando, analizando juntos las películas y series que 
            vemos, hablando sobre lo que leemos y los memes que están de moda se convierten en una fuente de 
            autoconocimiento propio y ajeno muy potente. <br>
            De la mano se nos une la disciplina, la cual nos hace más tolerantes a la frustración, favorece la 
            autoestima y la organización de la propia vida.
          </strong>   
        </p>
        <p class="texto">
          <strong>
            PREGÚNTATE: <br>
            ¿Cómo gestiono mi tiempo en estos momentos? <br>
            ¿Me dejo llevar por el estrés?
          </strong>
        </p>
  
      </div>
      <!-- Grid column -->
  
    </div>
    <!-- Grid row -->


    <hr class="my-5">
  
    <!-- Grid row -->
    <div class="row">
  
      <!-- Grid column -->
      <div class="col-lg-5 col-xl-4">
  
        <!-- Featured image -->
        <div class="view overlay rounded z-depth-1-half mb-lg-0 mb-4 zoom waves-light" mdbWavesEffect>
          <img class="img-fluid" src="https://cdn.pixabay.com/photo/2018/10/17/08/56/shaking-hands-3753457__340.jpg" alt="Sample image">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
  
      </div>
      <!-- Grid column -->
  
      <!-- Grid column -->
      <div class="col-lg-7 col-xl-8">
  
        <!-- Post title -->
        <h3 class="font-weight-bold subtitulo mb-3"><strong>5. RESPONSABILIDAD</strong></h3>
        <!-- Excerpt -->
        <p class="texto">
          <strong>
            Cuando eres capaz de responsabilizarte por tu propia vida, cumpliendo las obligaciones y los compromisos 
            adquiridos, dando respuestas adecuadas, pues te permites salir de esa zona de confort y tener una mirada 
            más amplia. <br>
            Podemos acostumbrarnos a reflexionar sobre las consecuencias de nuestros actos en relación con el bien 
            común. 
          </strong>
        </p>
        <p class="texto">
          <strong>
            PREGÚNTATE: <br>
            ¿Me responsabilizo de mi cuerpo, mi alimentación, mi mente, mis actitudes, mis sentimientos? <br>
            ¿Elijo o decido vivir cada día mejor?
          </strong>
        </p>
  
      </div>
      <!-- Grid column -->
  
    </div>
    <!-- Grid row -->




  
  </section>
  <!-- Section: Blog v.3 -->




  <!-- Footer -->
<footer class="page-footer font-small blue mt-5">

  <!-- Copyright -->
  <div class="footer-copyright peach-gradient text-center py-3">© 2021 Copyright: ITP
    
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->






